<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ record_title }}</title>

    {%- if socialnetwork == "tw" %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RISM_music" />
    <meta property="twitter:image" content="{{ record_image_url }}" />
    {% else %}
    <meta property="og:image" content="{{ record_image_url }}" />
    {% endif -%}
    <meta property="og:url" content="{{ record_url }}" />
    <meta property="og:title" content="{{ record_title }}" />
    <meta property="og:description" content="{{ record_description }}" />

</head>
<body>

</body>
</html>
