<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ record_title }}</title>
    <meta name="description" content="{{ record_description }}" />

    {%- if bot == "tw" %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@RISM_music" />
    <meta name="twitter:image" content="{{ record_image_url }}" />
    {% else %}
    <meta property="og:image" content="{{ record_image_url }}" />
    {% endif -%}
    <meta property="og:url" content="{{ record_url }}" />
    <meta property="og:title" content="{{ record_title }}" />
    <meta property="og:description" content="{{ record_description }}" />

</head>
<body>
    <h1>{{ record_title }}</h1>
    <p>{{ record_description }}</p>
</body>
</html>
